<section id="blog_archive_widget">
  <h4><%= t('archives', :scope => 'refinery.blog.shared') %></h4>
  <nav>
    <ul>
      <% links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  </nav>
</section>
